<!DOCTYPE html>
<html>
<head>
  <title>Move It!</title>
  <link rel="stylesheet" href="libs/bootstrap.min.css">
  <link rel="stylesheet" href="libs/bootstrap-theme.min.css">
  <link rel="stylesheet" href="libs/jquery-ui.min.css">
  <link rel="stylesheet" href="libs/jquery-ui.structure.min.css">
  <link rel="stylesheet" href="libs/jquery-ui.theme.min.css">
  <link rel="stylesheet" href="assets/css/bootstrap-overwrite.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <script type="text/javascript" src="libs/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="libs/underscore-min.js"></script>
  <script type="text/javascript" src="libs/backbone-min.js"></script>
  <script type="text/javascript" src="libs/backbone.localStorage-min.js"></script>
  <script type="text/javascript" src="libs/bootstrap.min.js"></script>
  <script type="text/javascript" src="libs/jquery-ui.min.js"></script>
</head>
<body>

<div id="container">  
  <div id="editor" class="col-sm-4">
    
  </div>
  <div id="player" class="col-sm-8">
    <div class="row top-nav">
      <div class="col-sm-12">
        <button id="play" class="btn btn-default">play</button>
      </div>
    </div>
    <div class="row" id="player-field"></div>
  </div>  
</div>

<img style="display:none" src="assets/images/sprites/dog1-a.png" />
<img style="display:none" src="assets/images/sprites/dog1-b.png" />

<!-- editor templates -->
<script id="instruction-block" type="text/template">
<div class="row">
  <div class="col-sm-12">
    <div class="col-sm-12 top-nav">
      <span><%= name %></span>
      <% if(hasParam) { %>
        <input id="input-<%= id %>" value="<%= value %>" />
        <span><%= unit %></span>
      <% } %>
      <% if(enable_save == true) { %>
        <button id="save-instruction-<%= id %>" type="button" class="pull-right btn btn-default">Save</button>
      <% } else { %>
        <button id="delete-instruction-<%= id %>" type="button" class="close pull-right"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <% }%>
      <% if(serial != 1) { %>
        <button id="up-instruction-<%= id %>" class="pull-right btn btn-default">up</button>
      <% } %>
      <button id="add-instruction-<%= id %>" class="pull-right btn btn-default">add</button>
    </div>
    <div class="col-sm-12">
      <div class="instructions-div" id="instruction-div-<%= id %>">
      </div>
    </div>
  </div>
</div>
</script>

<script id="instruction-label" type="text/template">
  <div class="instruction-label" data-name="<%= name %>">
    <span><%= name %></span>
  </div>
</script>

<script id="single-instruction" type="text/template">
  <div class="clearfix">
    <span><%= name %></span>
    <% if(hasParam) { %>
      <input id="input-<%= id %>" value="<%= value %>" />
      <span><%= unit %></span>
    <% } %>
    <button id="delete-instruction-<%= id %>" type="button" class="close pull-right"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <% if(serial != 1) { %>
      <button id="up-instruction-<%= id %>" class="pull-right btn btn-default">up</button>
    <% } %>
  </div>
</script>

<script type="text/javascript" src="src/app.js"></script>

<!-- load editor js files -->
<script type="text/javascript" src="src/editor/editor.js"></script>
<script type="text/javascript" src="src/editor/models/costume.js"></script>
<script type="text/javascript" src="src/editor/models/background.js"></script>
<script type="text/javascript" src="src/editor/models/instruction.js"></script>
<script type="text/javascript" src="src/editor/factories/instruction_model_factory.js"></script>
<script type="text/javascript" src="src/editor/collections/costumes.js"></script>
<script type="text/javascript" src="src/editor/collections/backgrounds.js"></script>
<script type="text/javascript" src="src/editor/collections/instructions.js"></script>
<script type="text/javascript" src="src/editor/views/instruction_label.js"></script>
<script type="text/javascript" src="src/editor/views/add_instruction.js"></script>
<script type="text/javascript" src="src/editor/views/instruction_block.js"></script>
<script type="text/javascript" src="src/editor/views/instruction_single.js"></script>
<script type="text/javascript" src="src/editor/factories/instruction_view_factory.js"></script>
<script type="text/javascript" src="src/player/player.js"></script>

<!-- load player js files -->

<script type="text/javascript">
  
</script>

</body>
</html>