#editor {
  min-height: 400px;
}

#player {
  min-height: 400px;
}

.instruction-label {
  margin: 5px;
  padding: 10px;
  background: #EFEFEF;
  cursor: pointer;
}

.instruction-label:hover {
  background: #87838E;
}

.selected {
  background: #87838E;
}

.single-instruction {
  padding: 4px;
  border: 1px solid #EFEFEF;
  margin: 4px 0px;
}

.single-instruction input{
  width: 40px;
}

.block-instruction {
  margin: 4px 0px;
}

.block-instruction input {
  width: 40px;
}

.block-instruction .top-nav {
  padding: 5px;
  background: #EFEFEF;
}

#player .top-nav {
  padding: 5px;
  background: #EFEFEF;
  margin-top: 4px;
  margin-bottom: 4px;
}

#player-field {
  width: 768px;
  height: 576px;
  background: #EFEFEF;
  position: relative;
  background-repeat:no-repeat;
  background-size:100% 100%;
}